@charset "UTF-8";

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    padding: 25px 15px;
    text-align: center;
    background-color: #999E76;
}

header a {
    font-size: 35px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: inherit;
    text-decoration: none;
}

.contents {
    padding: 40px 15px;
    text-align: center;
    background-color: #fff;
}

.contents .explanation {
    font-size: 24px;
}

.contents ul {
    list-style-type: none;
    padding: 0;
}

.contents a {
    font-size: 20px;
    padding: 15px 20px;
    border: solid 2px #000000;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
}

.task a {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    padding: 15px 20px;
    border: solid 2px #000000;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
}

.document ul {
    border: solid 2px #000000;
    border-radius: 10px;
}

.document li {
    margin: 10px;
}

.document a {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    padding: 15px 20px;
    border: none;
    border-bottom: solid 2px #000000;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
}

.submission ul {
    border: solid 2px #000000;
    border-radius: 10px;
}

.submission li {
    margin: 10px;
}

.submission_underbar {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    padding: 15px 20px 10px;
    border-bottom: solid 2px #000000;
    border-radius: 0;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: content;
}

.submission_name a{
    color: inherit;
    border: none;
    border-radius: 0;
}

.submission_status {
    margin-right: 10px;
}

.submission_status p {
    margin: 0;
}

footer {
    padding: 25px 15px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
}

