@charset "UTF-8";

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #F8F2E2 !important;
}

.table-responsive {
  display: block; 
  padding-top: 3%;
}

th {/*表の上の色*/
  background-color:#fae9bb !important;
}

.map {
  display: block; 
  margin-top: 30px;
  position:relative;
  width:100%;
  height:0;
  padding-top:90%;
}

.map iframe {
  position: absolute;
    top:0;
    left:0;
    width:100%;
    height:80%;
    z-index: 0;
}

.back {
    left: 50%;
    margin-top: -100px;
    position: absolute;
}

footer {
  padding: 25px 15px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}
