@charset "UTF-8";
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #F8F2E2;
}

header {
    padding: 25px 15px;
    text-align: center;
    background-color: #999E76;
}

header a {
    font-size: 35px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: inherit !important;
    text-decoration: none !important;
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

nav {
    height: 40px;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #a9a9a9;
}

nav a:hover {
    color: #0645AD;
}

.contents {
    padding: 40px 15px;
    text-align: center;
    /* background-color: #F8F2E2; */
}

.contents .explanation {
    font-size: 24px;
}

.contents ul {
    list-style-type: none;
    padding: 0;
}

.contents li {
    display: block;
    margin-bottom: 10px;
    padding: 30px;
    /*ボタンの縦幅*/
}

.contents a {
    width: 300px;
    /*ボタンの横幅*/
    background-color: #98BFAD;
    display: inline-block;
    font-size: 20px;
    padding: 15px 20px;
    border: solid 2px #000000;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
}

.back {
    text-align: center;
}

div.logo__img img {
    margin-right: 10px;
}

div.logo__img img#minatan {
    width: 120px;
}

div.logo__img img#chibany {
    width: 100px;
}

.contents a:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

footer {
    padding: 25px 15px;
    font-size: 20px;
    text-align: center;
    /* background-color: #F8F2E2 !important; */
}
